# Server
PORT=3000
ENABLE_SWAGGER=true
SOCKET_ORIGIN=*

# MongoDB
MONGO_URI=mongodb://localhost:27017/play4cash

# Redis
REDIS_URI=redis://localhost:6379

# JWT Auth
JWT_SECRET_KEY=your_jwt_secret_key
JWT_ACCESS_TOKEN_TTL_SECS=3600
JWT_REFRESH_TOKEN_TTL_SECS=86400

# Email
EMAIL_SERVICE=gmail
EMAIL_FROM=your_email@gmail.com
EMAIL_PASS=your_app_password
EMAIL_VERIFICATION_EXPIRY_MINUTES=60

# Binance API
BINANCE_API_KEY=your_binance_api_key
BINANCE_API_SECRET=your_binance_api_secret

# Withdrawals / Transactions
PROCESSING_EXPIRY_MINUTES=30
WITHDRAWAL_VERIFICATION_EXPIRY_MINUTES=30
MIN_WITHDRAWAL=10
JOB_CRON_WITHDRAWAL_IN_PROCESSING="*/5 * * * *"
GOOGLE_CLIENT_ID= web_client

# Admin (comma-separated)
ADMIN_EMAILS=admin@example.com
